.contact-section-container {
  display: flex;
  flex-direction: column; /* Make sure the footer comes below */
  min-height: 100vh; /* Ensure the entire content is at least the height of the viewport */
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 200px;
  padding-left: 250px;
  padding-right: 250px;
  margin-bottom: 30px; /* Add some space below the contact section */
}

footer {
  margin-top: auto; /* Pushes footer to the bottom */
  margin-bottom: 20px;
}


/* Left side (resume & message) */
.contact-left {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text within the container */
}

.contact-left h2.section-title {
  font-size: 2rem;
  margin-top: 0px;
}

.contact-left p {
  font-family: Verdana;
  line-height: 1.6;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 400px;
  font-size: 15px;
}

.contact-left a {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #C19A6B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for smooth scaling */
  align-self: center; /* Center the button horizontally */
  margin-top: 20px;
}

.contact-left a:hover {
  background-color: #a68051; /* Optional: Change the background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

body.dark-mode .contact-left a {
  background-color: #a18059;
}

body.dark-mode .contact-left a:hover {
  background-color: #795935;
}

/* Right side (Form) */
.contact-right {
  flex: 1;
  padding-left: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form .form-control {
  width: 100%; /* Ensures all inputs and textarea take up the full width */
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #b3b3b3; /* Light pink border */
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}


.contact-form textarea {
  resize: none; /* Disable resize */
}

.contact-form .btn {
  padding: 10px;
  font-size: 1rem;
  background-color: #C19A6B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

 
.contact-form .btn:hover {
  background-color: #a68051; 
}

body.dark-mode .contact-form .btn {
  background-color: #a18059;
}

body.dark-mode .contact-form .btn:hover {
  background-color: #795935;
}

.response-message {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-family: Verdana;
  color: green; /* Adjust the color */
  opacity: 1;
  transition: opacity 1s ease; /* Smooth fade-out over 1 second */
}

.response-message.fade-out {
  opacity: 0; /* Fade out by setting opacity to 0 */
}

body.dark-mode .response-message {
  color: #fae4db;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-left, .contact-right {
    padding: 0;
    text-align: center;
  }

  .social-icons a {
    margin-right: 10px;
    margin-left: 10px;
  }
}
