.portfolio-container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  padding-top: 150px;
  height: 100vh;
  position: relative;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: lighter;
  font-family: 'Arial';
  margin-bottom: 0px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-left: 10px;
  margin-right: 10px;

}

.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-info {
  font-size: 16px;
  font-family: 'Arial';
  color: #282C2D;
  text-align: center;
  margin-bottom: 60px;
}

/* Class that triggers the animation */
.animate-hover-info {
  animation: fadeInScale 2s ease-in-out;
}


/* Keyframes for the text animation */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.scroll-arrow-portfolio {
  position: absolute;
  bottom: 200px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%); /* Keep centered */
  font-size: 2rem;
  cursor: pointer;
  /* No animation, so the arrow is static */
}

body.dark-mode .scroll-arrow-portfolio {
  color: #FAF9F6;
}