.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .proficiencies-list {
    list-style-type: none;
    padding: 0;
  }
  
  .proficiencies-list li {
    margin-bottom: 10px;
  }
  