/* Footer.css */

footer {
    width: 100%;
    text-align: center;
}

footer .container {
    justify-content: center;
}

footer .container p {
    margin: 0;
    margin-bottom: 10px; /* Adjust as needed */
}

footer .container a {
    padding-left: 7px;
    padding-right: 7px;
    /* transition: color 0.3s ease; */
}

footer .container a svg {
    color: #4B5320;
}

body.dark-mode footer .container a svg {
    color: #748C6D;
}


footer .container a svg:hover {
    color: #8c9a3d;
    transform: scale(1.10);
}

body.dark-mode footer .container a svg:hover {
    color: #8FA68B;
}