/* General Project Container */
.project {
  position: relative;
  width: 100%; /* Ensure responsive width */
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  /* border: 2px solid #ccc; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
}

.project-image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.project-details-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  background-color: rgba(232, 229, 219, 0.864);
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.project:hover .project-details-container {
  opacity: 1;
}

.project-details {
  text-align: center;
  padding: 10px;
  max-height: 100%; /* Ensures content does not exceed the container */
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title {
  font-size: 22px;
  color: #282C2D;
  margin-bottom: 0px;
  margin-top: 0px;
}

.project-description {
  font-size: 16px;
  color: #282C2D;
  margin-bottom: 5px;
}

body.dark-mode .project-description {
  color: #282C2D;
}

/* Tech Stack Badges */
.tech-stack {
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
  color: #282C2D;
  max-height: 100px; /* Add a max height to tech stack */
  overflow-y: auto; /* Ensures scrolling if tech stack is too long */
}

.tech-badge {
  background-color: #DCAE96;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 0.9rem;
  display: inline-block;
}

/* Buttons for Live, Git, Demo */
.project-links {
  flex-shrink: 0; /* Prevents buttons from shrinking */
  margin-bottom: 5px;
}

.project-btn {
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  background-color: #5F9EA0;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}

.project-btn:hover {
  background-color: rgb(112, 186, 189);
}

body.dark-mode .project-btn:hover {
  background-color: #4e8284;
}
